$coloreje1: #00789B
$coloreje2: #22B687
$ubicacion: center
$colortext: #FFF
$fondo: #00313F
.fondo3
    width: 100%
    height: 100%
    background-color: #88D7A9

.list-cage
   width: 47%
   height: 100%
   float: left
   text-align: left
   border-style: solid
   border-width: 1px
   margin-top: 5px

.diagram-cage
    width: 48%
    height: 100%
    float: right 
    background: $fondo
    margin-top: 5px

.Fondo
    margin: 20px 0
    div
        z-index: 1000
        position: relative

.Fondo2
    position: absolute !important
    background-color: #325B95
    width: 20px
    margin: 80px 0px 0px 25%
    z-index: 1 !important
    

.eje1
    display: inline-block
    width: 100px
    height: 100px
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    border-radius: 50%
    background: $coloreje1 
    position: relative
    margin: 50px 0 0 50px
    color: $colortext

.bar1
    display: flex
    width: 70%
    height: 30px
    border: 3px solid $coloreje1
    margin-left: -30px
    margin-top: 80px
    background: $coloreje1

.eje2
    display: inline-block
    width: 100px
    height: 100px
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    border-radius: 50%
    background: $coloreje2 
    position: relative
    margin: 50px 0 0 50px
    color: $colortext

.bar2
    display: flex
    width: 70%
    height: 30px
    border: 3px solid $coloreje2
    margin-left: -30px
    margin-top: 80px
    background: $coloreje2

.barcent
    width: 3% 
    height: 80% 
    background: $coloreje1
    float: center

.Eje
    display: flex
    margin-top: 120px

.llanta
    width: 50px 
    height: 100%
    background: $fondo
    border-radius: 5px
    border-style: solid
    border-color: $colortext
    margin-top: -70%
    color: $colortext

.llanta2
    width: 50px 
    height: 100% 
    background: $fondo
    border-radius: 5px
    border-style: solid
    border-color: $colortext
    transform: rotate(-30deg)
    margin-top: -70%
    color: $colortext

.circulo 
    width: 40px
    height: 40px
    margin-top: -180px
    margin-left: 10px
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    border-radius: 50%
    background: $coloreje1
    color: $colortext
    text-align: center

.cuadrado
    width: 0px
    height: 30px
    border: 3px dashed $coloreje1
    background: transparent
    z-index: 1
    margin-left: 50%
